**/__pycache__
*~
*.pyc
*.bak
**/build
*.gch
*.so
*.c
*#
.#*
*.swp
**/.DS_STORE
rethinkdb_data
cesium.egg-info
!cesium/tests/data
external
doc/_build
doc/api
doc/feature_table.rst
dist
.eggs
.coverage
MANIFEST
.ipynb_checkpoints
