mltsp/Flask/rethinkdb_data/
mltsp/Flask/static/data/*classes.csv
mltsp/TCP/Software/__pycache__/
mltsp/TCP/Software/feature_extract/Code/__pycache__/
mltsp/TCP/Software/feature_extract/Code/extractors/common_functions/build/temp.linux-x86_64-2.7/
mltsp/TCP/Software/feature_extract/MLData/__pycache__/
mltsp/TCP/Software/feature_extract/__pycache__/
mltsp/TCP/Software/ingest_tools/__pycache__/
mltsp/TCP/build
Data/extracted_features/
Data/flask_uploads/
Data/classifier_models/
Data/logs/
*~
*.pyc
*.bak
test_tcp_featgen.py
**/build
*.gch
*.so
