flask:
    secret-key:   # This secret key can be any random string of characters.
                  # Typically ``os.urandom(24)`` is good enough.

authentication:
    # The Stormpath API keys can be downloaded from:
    # https://api.stormpath.com

    stormpath_api_key_id:
    stormpath_api_key_secret:
    stormpath_application: mltsp

    # This section is optional.  If not filled in, Google Authentication
    # will be disabled.
    #
    # These values can be obtained from
    #   https://console.developers.google.com/project

    google_client_id:
    google_client_secret:
