beautifulsoup4
flask
flask-googleauth
flask-oauth
flask-mail
flask-login
flask-restful
numpy
numexpr>=2.0
scipy
mpld3
pandas
parse
psutil
rethinkdb
requests
seaborn
simplejson
tables
colorlog
future>=0.13
matplotlib
nose
nose-exclude
