beautifulsoup4
flask
Flask-Stormpath
flask-mail
flask-restful
docker-py
numpy
numexpr>=2.0
scipy
scikit-learn
mpld3
pandas
parse
psutil
rethinkdb
requests
seaborn
simplejson
tables
colorlog
future>=0.13
matplotlib
nose
nose-exclude
pyyaml
docker-py
