flask:
    secret-key: abc01234  # This secret key can be any random string of
                          # characters.  Typically ``os.urandom(24)`` is
                          # good enough.

authentication:
    # The Stormpath API keys can be downloaded from:
    # https://api.stormpath.com

    stormpath_api_key_id: 01234
    stormpath_api_key_secret: 0124
    stormpath_application: mltsp

    ## This section is optional.  If not filled in, Google Authentication
    ## will be disabled.
    ##
    ## These values can be obtained from
    ##   https://console.developers.google.com/project
    ##
    ## When filling in the form for running on localhost:
    ##
    ## - Appliation type: Web
    ## - Authorized JavaScript origins: blank
    ## - Authorized redirect URIs: http://localhost:5000/google
    ##                             http://your.hosted.server.com
    ##
    ## Always include the localhost:5000 for unit testing purposes.

    google_client_id:
    google_client_secret:

paths:
    ## Two special variables are available below:
    ## - {project_path} : location of the MLTSP package
    ## - {package_path} : location of the mltsp package content
    ##
    ## You can also use defined paths later on (see, e.g., data_path).

    data_path:        '~/.local/mltsp'
    err_log_path:     '{data_path}/logs/errors_and_warnings.log'
    sample_data_path: '{data_path}/sample_data'
    models_folder:    '{data_path}/classifier_models'
    features_folder:  '{data_path}/extracted_features'

    upload_folder:    '{data_path}/flask_uploads'
    custom_feature_script_folder: '{data_path}/flask_uploads/custom_feature_scripts'
    temp: '/tmp/mltsp'

    tmp_custom_feats_folder: '{data_path}/tmp/custom_feature_scripts'

    # This is slated for deprecation
    project_path_link: /tmp/mltsp_link


celery:
    celery_broker: amqp://guest@localhost//

    ## The variables below are used by Celery itself
    CELERY_RESULT_BACKEND: amqp
    CELERY_TASK_SERIALIZER: pickle
    CELERY_RESULT_SERIALIZER: pickle
    CELERY_ACCEPT_CONTENT:
        - pickle
    CELERY_IMPORTS:
        - mltsp
        - celery_tasks
    INSTALLED_APPS:
        - mltsp

database:
    host: localhost
    port: 28015

## testing:
##    ## Disable authentication
##    disable_auth: 1
##
##    ## Use a separate test database
##    test_db: 1
##
##    ## Calculate custom features without using Docker
##    no_docker: 1
##
##    debug: 0
