name: Build docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Build docs
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache
            ~/.local
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

      - name: Checkout branch being tested
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
          clean: false

      - name: Install dependencies & configure cesium
        run: |
          pip install --upgrade pip
          # Install runtime dependencies
          make install
          # Install build and testing dependencies
          pip install wheel pytest pytest-cov mock coverage cython==0.29.23

          pip install .

      - name: Build docs
        run: |
          if [[ $SKIP_DOCS != 1 ]]; then
            make doc_reqs
            make html
          fi
